body {
	flex-direction: column;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

button {
	padding: 5px 10px;
	outline: none;
	border: none;
	border-radius: 3px;
	font-size: 18px;
	cursor: pointer;
}
