.form {
	&:has(input:focus) {
		border-top: 1px solid rgba(0, 0, 150, 0.233);
		border-left: 1px solid rgba(0, 0, 150, 0.233);
		border-right: 1px solid rgba(0, 0, 150, 0.233);
		border-bottom: 1px solid transparent;
	}
	margin-top: 32vh;
	position: relative;
	text-align: center;
	width: 100%;
	max-width: 500px;
	margin-bottom: 15px;
	border-radius: 5px;
	overflow: hidden;

	&__input {
		width: 100%;
		height: 50px;
		outline: none;
		border: none;
		border-bottom: 2px solid grey;
		border-image: linear-gradient(to right, rgb(70, 70, 229), rgb(255, 177, 31))
			1;
		padding: 10px 15px;
		font-size: 20px;
	}

	&__button {
		position: absolute;
		height: 100%;
		top: 0;
		right: -2px;
		background-color: transparent;
	}

	&__img {
		height: 90%;
	}
}
