@use 'variables' as var;

.search-results {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 10px;

	&__button {
		width: 100%;
		padding: 10px 0;
		@include var.item-style();
		font-size: 20px;
	}

	&__message {
		font-size: 20px;
		color: red;
		font-size: bold;
	}
}
