.search-results {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 5px;
	background-color: rgb(220, 192, 155);

	&__button {
		width: 100%;
		background-color: green;
		color: white;
	}

	&__message {
		font-size: 16px;
		color: red;
		font-size: bold;
	}
}
